extends ../index
block content
	<div class="col-md-6 col-md-offset-3">
		<div class="jumbotron">
			<div class="container">
				<h1>#{category[0].title}</h1>
				<p>#{category[0].description}</p>
				<p>
					<a class="btn btn-primary btn-lg" href="/categories"><i class="fa fa-arrow-left"></i> Back</a>
				</p>
			</div>
		</div>
	</div>