extends ../index
block content
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-3">
		-if(categories && categories.length > 0){
			<div class="list-group">
				-for (var i = 0; i < categories.length; i++) {
					<div class="list-group-item">
						<h4 class="list-group-item-heading"><a href="">#{categories[i].title}</a></h4>
						<p class="list-group-item-text">#{categories[i].description}</p>
						<div class="opt" style="margin-top: 10px;">
							<a href="/category/#{categories[i]._id}/delete" class="btn btn-danger"><i class="fa fa-remove"></i></a>
							<a href="/category/#{categories[i]._id}/edit" class="btn btn-success"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				-}
			</div>
		-}else{

		-}
		
	</div>
