extends ../index
block content
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		- if (users !== 'undefined') {
			<div class="list-group ">
				- for (var i = 0; i < users.length; i++) {
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">#{users[i].username}</h4>
						<p class="list-group-item-text">Password: #{users[i].password}</p>
					</a>
				- }
			</div>
		- } else {
			|gdfgdfasgfg	
		- }
			
	</div>