extends ../index
block content
	<div class="col-md-6 col-md-offset-3">
		-if(articles.length > 0){
			<div class="alert alert-info">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>#{articles.length}</strong> results were found ...
			</div>
			<div class="list-group">
			-for (var i = 0; i < articles.length; i++) {
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">#{articles[i].title}</h4>
					<p class="list-group-item-text">#{articles[i].description}</p>
				</a>
			-}
			</div>
		-}else{
			<div class="list-group">
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>#{articles.length}</strong> result was found ...
				</div>
			</div>
		-}
	</div>